AddDefaultCharset "utf-8"


## POUR REECRIRE LES NOMS DES PAGES
Options +FollowSymlinks -MultiViews
RewriteEngine On
RewriteBase eleonore-florian.fr

## Redirect external .php requests to extensionless url
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ hhtp://%{HTTP_HOST}/$1 [R=301,L]

## add extension if the php file exists:
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteRule ^profil/([a-zA-Z0-9]+)$ profile?id=$1

## Réécrire les URLS (RewriteRule ^nouveauNom$ nomExistant)
RewriteRule ^rechercher$ utilisateurs
RewriteRule ^Accueil$ index.php?action=home

## ERREURS Si une erreur apparait alors on affiche la page correspondante
ErrorDocument 401 /erreurs/er_400?erreur=401
ErrorDocument 402 /erreurs/er_400?erreur=402
ErrorDocument 403 /erreurs/er_400?erreur=403
ErrorDocument 404 /erreurs/er_400?erreur=404