# EMPECHE DE FOUILLER A LA RACINE
Options -Indexes

# HTTPS SSL
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.eleonore-florian.fr/$1 [R=301,L]

# REDIRECTION HTTP VERS HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://www.eleonore-florian.fr/$1 [R=301,L]

# Activation de la réécriture
Options +FollowSymlinks
RewriteEngine On

### Les règles de réécritures ###
# Rempalce : 'index.php?action=connectPage' par 'connexion'
RewriteRule ^connexion$ index.php?action=connectPage [L]
## Remplace : 'index.php?action=home' par 'accueil'
RewriteRule ^accueil$ index.php?action=home [L]
## Remplace : 'index.php?action=form' par 'invitation'
RewriteRule ^invitation$ index.php?action=form [L]
## Remplace : 'index.php?action=accommodation' par 'hebergements'
# RewriteRule ^invitation$ index.php?action=form [L]
## Remplace : 'index.php?action=forgotView' par 'mot-de-passe-perdu'
RewriteRule ^mot-de-passe-perdu$ index.php?action=forgotView [L]
## Remplace : 'index.php?action=addNewPass' par 'modifier-votre-mot-de-passe'
# RewriteRule ^modifier-votre-mot-de-passe$ index.php?action=addNewPass [L]


## Ajouter toutes les règles de réécritures pour les autres fonctionnalités (mot de passe perdu, photos et hebergements)