/*;
1. Faire la partie responsive : Refaire les images + logo à la bonne taille;

2. Mettre un carrousel en javascript + Refaire le nav hamburger;

3. Empêcher les gens de pouvoir mettre du code dans le formulaire;

4. Faire en sorte que les gens puissent ajouter leur photos et voir toutes les photos, tout ça sur une autre page;

5. Faire un footer conforme;

6. Faire le refactoring du CSS;

7. Utiliser SASS;

 */

/************
PETITS ECRANS
*************

Mettre le Nav hamburger en haut de l'écrans;

*************/


/*-------------------*\
  #GENERALS-SETTINGS
\*-------------------*/

@font-face {
  font-family: 'Chapaza';
  src: url("/fonts/Chapaza.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Chapaza";
}

#townHall,
#reception {
  height: 650px;
  display: grid;
  grid-template-columns: 37% 63%;
}

.townHallContainer,
.churchContainer,
.churchResponsiveText,
.receptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  line-height: 1.3em;
}

button {
  letter-spacing: 1px;
  background: transparent;
  border-radius: 50px;
  padding: 10px 30px;
  margin: 20px auto;
  border: 1px solid #caae92;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

/*----------------*\
  #HEADER
\*----------------*/

header {
  background: url('img/ring-rose.jpg') fixed center/cover;
  height: 100vh;
} 

nav {
  display: flex;
}

ul {
  background-color: rgba(187 135 77 / 53%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100vw;
  font-size: 1.1em;
  font-weight: 600;
}

li {
  margin: 0 20px;
}

li a {
  text-decoration: none;
  color: black;
}

.navImgContainer {
  background-color: rgba(187 135 77 / 53%);
}

hgroup {
  text-align: center;
  /* padding-top: 300px; */
  font-size: medium;
}

hgroup h1 {
  letter-spacing: 0.5rem;
  font-size: 2.5em;
  color: rgb(199 153 76);
  text-shadow: 1px 2px 3px rgb(0 0 0);
  margin-top: 30vh;
}

/*------------------*\
  #SECTION_1 DATEIMG
\*------------------*/

.backgroundDate{
  background: url('./img/fond_date_r.png') center/ 1000px no-repeat;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundDate{
  text-align: center;
}

.spanTitle{
  font-size: smaller;
}

.spanDate{
  margin-top: 20px;
  display: inline-block;
  font-size: xx-large;
}

/*------------------*\
  #SECTION_1 HISTORY
\*------------------*/

#history {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historyContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#history h2 {
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 1.5em;
  margin: 80px 0;
}

#history p {
  text-align: center;
  line-height: 2em;
  font-size: 1.2em;
}

.formTitleLink {
  text-decoration: none;
  color: #eb9743;
}

/*---------------------*\
  #SECTION_3 TOWN HALL
\*---------------------*/

#townHall .img {
  background: url('/img/mairie2.png') center/cover ;
}

/*------------------*\
  #SECTION_4 CHURCH
\*------------------*/

#church {
  height: 650px;
  display: grid;
  grid-template-columns: 63% 37%;
}

#church .img {
  background: url('/img/eglise.jpg') center/cover;
}

/*---------------------*\
  #SECTION_5 RECEPTION
\*---------------------*/

#reception .img {
  background: url('/img/reception.jpg') center/cover;
}


/*------------------*\
  #SECTION_6 FORM
\*------------------*/

.form {
  text-align: center;
  padding: 60px 0 80px 0;
}

.form h2 {
  margin: 50px auto;
}

.formGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 150px) 200px;
  grid-template-areas: 
    "input1 input2"
    "input3 input4"
    "input5 input6"
    "input7 input7"
    "input8 input9"
    "textarea textarea";
  gap: 10px;
  width: 85%;
  max-width: 900px;
  margin: 30px auto;
}

.input7 {
  grid-area: input7;
}

.textarea {
  grid-area: textarea;
}

label,
.label,
.label7 {
  font-weight: 600;
  letter-spacing: 1px;
}

.label7 {
  margin: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 30px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #caae92;
  padding: 10px;
  transition: 0.2s;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border: 2px solid #eb9743;
}

input[type="radio"].radio {
  display: none;
}

input[type="radio"].radio + label {
  padding: 0.5rem 1rem;
  margin: 10px 45px;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #6c757d;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}

input[type="radio"].radio.radioYes:hover + label {
  background-color: #218838;
  border-color: #1e7e34;
}

input[type="radio"].radio.radioYes:checked + label {
  background-color: #28a745;
  border-color: #28a745;
}

input[type="radio"].radio.radioNo:hover + label {
  background-color: #c82333;
  border-color: #bd2130;
}

input[type="radio"].radio.radioNo:checked + label {
  background-color: #dc3545;
  border-color: #dc3545;
}

textarea {
  resize: none;
  height: 100px;
  margin-bottom: 0;
}

.radioGroup {
  margin: 30px 0 40px;
}

button:hover {
  color: #eb9743;
  transition: transform 400ms;
  transform: scale(1.1);
}

/*------------------*\
  #FOOTER
\*------------------*/



/*------------------------*\
  #MEDIAS_QUERIES
\*------------------------*/

@media only screen and (max-width:850px){
  .backgroundDate {
    background-size: 90%;
  }
}

@media only screen and (max-width:650px){
  nav {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    height: auto;
  }

  .navImgContainer {
    text-align: center;
    order: -1;
  }

  .h1Group {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width:550px){
  #history {
    font-size: small;
    margin-bottom: 40px;
  }

  #townHall,
  #church,
  #reception {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .townHallContainer,
  .churchContainer,
  .receptionContainer {
    margin: 20px 0;
  }

  #church {
    flex-direction: column-reverse;
  }

  #townHall .img{
    background: url('/img/mairie.jpg') center/cover;
    height: 72%
  }

  #church .img{
    background: url('/img/eglise.jpg') center/cover;
    height: 72%;
  }

  #reception .img{
    background: url('/img/reception.jpg') center/cover;
    height: 72%;
  }

  .formGrid{
    display: block;
  }

  .form {
    padding: 0;
  }
}